body{
  margin:10px;
  display: block;
  background-color: #0b1a21;
}
#Home{
  background-color: #0b1a21;
  width: 90%;
  height: 85vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

#Songs{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-start;
  overflow-y:scroll;
  width: 100%;
  height: 70vh;
  padding: 5px;
  gap: 20px;
}

@media (max-width: 400px) {
  #Songs{
      gap:5px
  }
}

#Nosong{
  margin-left: 20%;
  color: #f2eced;
  margin-top: 30%;
}

label{
  background-color:#2b85b3;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  color: #f2eced;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#upBar{
  padding: 10px;
  height: fit-content;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  justify-items:baseline;
  gap: 10px;
}
#logo{
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
#Name{
  font-weight: normal;
  font-size:medium;
  height: 25px;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #11e3ed;
}