#card{
    width: fit-content;
    height: fit-content;
    max-width: 150px;
    min-width: 150px;
    padding: 5px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0px grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #0b1a21;
}

#songTitle{
    font-weight: bold;
    font-size: larger;
    width: 100%;
    height: 25px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b9b9b7;

}

#artName{
    font-weight: normal;
    font-size:medium;
    width: 100%;
    height: 25px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #11e3ed;
}

#trash{
    opacity: 0;
    visibility: hidden;
    color:#b9b9b7;
    background-color: #0b1a21;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#musicArt{
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    width: 93%;
    height: 140px;
    /* background-color: rebeccapurple; */
    border-radius: 12px;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#musicImgg{
    position: absolute;
    width: 10px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

#card:hover #trash{
    opacity: 1;
    visibility:visible;
}

#trash:hover{
    background-color:#b9b9b7;
    color: #0b1a21;
}